<html>
    <body bgcolor="#a3cfb4">
        <center>
            <h1> PREDICTION : </h1>
        {%if data == 0%}
        <h1>Single Family Detached House</h1>
        <img src='static/single fam.jpg'>
        {%endif%}

        {%if data == 1%}
        <h1>Castle</h1>
        <img src='static/castle.jpg'>
        {%endif%}

        {%if data == 2%}
        <h1>Apartment</h1>
        <img src='static/apartment.jpg'>
        {%endif%}

        {%if data == 3%}
        <h1>Coach House</h1>
        <img src='static/coah house.jpg'>
        {%endif%}

        {%if data == 4%}
        <h1>Bungalow</h1>
        <img src='static/bangalow.jpg'>
        {%endif%}

        {%if data == 5%}
        <h1>Cabin</h1>
        <img src='static/cabin.jpg'>
        {%endif%}
        

            <br><br>
        <a href='/'>go back to home page</a>
        </center>
    </body>
</html>