<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <style>
        #cd{
            margin-left: 1%;
            margin-top: 2%;
            width: 98%;
        }
        #cd1{
            margin-top: 2%;
        }
        #btn{
            background-color: #063a24;
            border: 2px solid #032e1b;
            color:rgb(240, 231, 231);
            margin-left: 85%;
            margin-bottom: -2%;
        }

        
    </style>


<div class="w3-container w3-teal">
  <h1>Home Lands Pvt Ltd Visualization of data set</h1>
  <a href='/' class="btn btn-primary" id="btn">go back to home page</a>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src="static/1.png" style="width:100%">
      <div class="w3-container"><br><br>
        <h5>Cluster of Bathrooms & Bedrooms</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card" >
      <img src="static/2.png" style="width:100%">
      <div class="w3-container"><br>
        <h5>Clusters of Bathrooms & Bedrooms With Centroids</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="static/3.png" style="width:100%">
      <div class="w3-container"><br><br><br>
        <h5>Data visualization for price and density</h5>
      </div>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src="static/4.png" style="width:100%">
      <div class="w3-container"><br><br><br><br>
        <h5>Data visualization for day of week and sold houses</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="static/5.png" style="width:100%">
      <div class="w3-container"><br><br><br>
        <h5>Data visualization for living space and price</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="static/6.png" style="width:100%">
      <div class="w3-container">
        <h5>Data visualization for column vise values</h5>
      </div>
    </div>
  </div>
</div>

  <div class="w3-third" id="cd">
    <div class="w3-card">
      <img src="static/8.png" style="width:100%" >
      <div class="w3-container">
        <h5>Data visualization for zip code wise price</h5>
      </div>
    </div>
  </div>

</body>
</html>
